<div>
  <div class="container text-center">
    <h1 class="display-4">About Us</h1>
  </div>

  <div class="container py-5">
    <div class="row">
      <div class="col-md-6">
        <h2>О сайте</h2>
        <p>Добро пожаловать на bbq-your-friend! На данном сайте вы можете просто отслеживать события ваших друзей, а так же позвать их на свое!</p>
        <p>Этот сайт является пет проектом с открытым исходным кодом, который создан исключительно в рамках практики. Он является абсолютно бесплатным для пользования.</p>
        <p>Ознакомиться с репозиторием вы можете по ссылке: <a href="//github.com/Mr-Marksman/BBQ">Репозиторий на Github</a></p>
      </div>
      <div class="col-md-6">
        <h2>О технологиях</h2>
        <p>Приложение использует VPS хостинг, написано полностью на Ruby on Rails версии 7+ (ruby 3.1.3). Все страницы написаны при помощи Bootstrap 4 с использованием своих стилей</p>
        <p>Сайт использует API Яндекс Карт для удобного отображения места проведения мероприятия и Яндекс Облако для хранения фотографий</p>
      </div>
    </div>
  </div>
</div>