<% if resource.errors.any? %>
  <div id="error_explanation">
    <h5>
      <%= I18n.t("views.error_message") %>
      <%= I18n.t :error, count: resource.errors.count %>:
    </h5>
    <% resource.errors.each do |error| %>
    <div class="alert alert-danger alert-dismissible fade show row col-md-6" role="alert">
      <p><%= error.full_message %></p>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть"></button>
    </div>
    <% end %>
  </div>
<% end %>
