<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <div class="thumbnail-inner bg-light rounded p-2 border border-dark">
      <div class="caption">
        <h3 class="text-center"><%= link_to event.title, event_path(event), class:"text-decoration-none" %></h3>
        
        <div class="picture_box border">
          <%= image_tag main_photo(event) %>
        </div>

        <h3><small><%= l(event.datetime, format: :short) %></small></h3>
        <div class="buffer-both"><%= event.address %></div>
      </div>
    </div>
  </div>
</div>
