<h1 class="text-center mb-5">Что-то поменялось?</h1>

<%= render "form", event: @event %>

<br>

<div>
  <%= link_to "Вернуться на страницу мероприятия", @event %> |
  <%= link_to "Все мероприятия", events_path %>
</div>
