<div class="alert alert-success alert-dismissible fade show row col-md-6" role="alert">
  <p style="color: black;"><%= notice %></p>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть"></button>
</div>

<h1>Мероприятия</h1>

<div class="row buffer-bottom">
  <%= render partial: 'events/event', collection: @events %>
</div>

<%= link_to "Создать новое мероприятие", new_event_path %>
