<h1><%= I18n.t("titles.event.index") %></h1>

<div class="row buffer-bottom">
  <%= render partial: 'events/event', collection: @events %>
</div>

<%= link_to I18n.t("links.new_event"), new_event_path %>
