.picture_box, .main_picture_box {
   position: relative;
   left: auto;
   overflow:hidden;
   width:250px;
   height:250px;
}

.picture_box img, .main_picture_box img {
   position: absolute;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%);
   width:250px;
   height:250px;
   object-fit:cover;
}

.main_picture_box, .main_picture_box img {
  width: 340px;
  height: 340px;
}
