.user_avatar_box {
   position: relative;
   left: auto;
   overflow:hidden;
   width:150px;
   height:150px;
}

.user_avatar_box img {
   border-radius: 50%;
   position: absolute;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%);
   width:150px;
   height:150px;
   object-fit:cover;
}